NEXT_PUBLIC_SITE_URL=https://campdejesusbelairfizi.com
NEXT_PUBLIC_API_URL=https://api.campdejesusbelairfizi.com/api/v1

# Valeur du champ content fourni par la balise de validation Search Console.
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
